@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;

  strong {
    margin-right: 1rem;
  }

  small {
    margin-right: auto;
  }
}

.alert-fade-enter {
  opacity: 0;
}

.alert-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.alert-fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.note-tr-exit-active {
  animation: note 800ms ease-out forwards;
}

.note-tr-enter-active {
  animation: note 800ms ease-in alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
